src/main/mule/pfj-healthcheck.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:elasticsearch="http://www.mulesoft.org/schema/mule/elasticsearch" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7194b0c7-92cd-42a0-9197-f3bfa83f423a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pfj-healthcheckFlow" doc:id="ad64dcd8-47b8-44ab-be30-27c17bc2b328" >
		<http:listener doc:name="Listener" doc:id="55ad01e6-66ce-41ce-98c5-028bdbf88808" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="c91d884d-fab3-4c93-8e5e-dfbb44518050" message="BEGIN TRANSACTION"/>
		<set-payload value='#["SUCCESS - Sept. 6th, 2019 - 12:00 PM"]' doc:name="Set Payload" doc:id="1de76b3e-7db3-497d-9c32-87dd93d80a93" />
	</flow>
</mule>
